// 時間軸
.file-url {
   text-align: center;
   margin: 50px;

   img {
      width: 40px;
      height: 40px;
   }
}

// 草案editor 點擊展開
.case-editor {
   .content {
      margin: 15px;

      // 這部分無法替代 .open .open-img的background-image
      // &:not(.show) {
      //    &+.open>.open-img {
      //       background-image: url('../../f_imgs/members/angle-down.png');
      //    }
      // }

      &.show {
         &+.open>.open-img {
            background-image: url('../../f_imgs/bill_issues/angle-up.png'); //替代的img
         }
      }
   }

   .open {
      height: 0;
      text-align: center;

      .open-img {
         cursor: pointer;
         background-image: url('../../f_imgs/members/angle-down.png'); //原本的img
         background-repeat: no-repeat;
         background-position: center;
         background-size: 20px;
         width: 30px;
         height: 30px;
         padding: 8px 5px;
         background-color: #D8D8D8;
         border-radius: 30px;
         margin-right: auto;
         margin-left: auto;
      }
   }
}

// 暗區
.dark {
   color: white;
   background-color: #575656;
   padding-top: 30px;
   padding-bottom: 30px;

   .case-editor {
      color: #4A4A4A;
      background-color: #fff;
      padding: 10px;
   }
}

// 輪播swiper plugin
.swiper-slide {
   flex-direction: column;
   padding-top: 50px;
   padding-bottom: 10px;
   padding-right: 10px;
   padding-left: 10px;
   border-radius: 5px;

   &.swiper-slide-visible.swiper-slide-active {
      background-color: #777674;
      color: white;
   }

   .status-name {
      min-width: 60px;
      max-width: 90%;
      padding: 2px 5px;
      color: white !important;
      border-radius: 15px;
      position: absolute;
      right: 0;
      top: 0;
      margin-top: -15px;
      margin-right: -20px;

      @include media-breakpoint-down(xs) {
         margin-right: 0;
      }
   }

   .case-title {
      font-weight: bolder;
      margin-bottom: 15px;
   }
}

.container-fluid {
   padding-right: 0;
   padding-left: 0;
}

.swiper-button-next,
.swiper-button-prev {
   top: 0 !important;
   margin-top: 2px !important;
   transform: scale(1, 1);
   transition: all 0.3s ease-out;

   &:after {
      font-size: 22px !important;
   }

   &:hover {
      font-weight: bolder;
      transform: scale(1.3, 1.3);
   }
}

.swiper-container {
   min-height: 200px !important;
   padding: 80px 0 30px !important;
   background-color: #D4D4D4;

   .swiper-pagination {
      height: 26px;
      top: 0;
      margin-top: 12px;

      @include media-breakpoint-down(sm) {
         display: none;
      }

      .swiper-pagination-bullet {
         width: 12px;
         height: 12px;

         &:not(.swiper-pagination-bullet-active) {
            opacity: 0.4;
         }
      }
   }
}

.center-triangle {
   $size: 20px;

   width: 0;
   height: 0;
   border-style: solid;
   border-width: 0 $size $size $size;
   border-color: transparent transparent #575656 transparent;

   position: absolute;
   left: calc(50% - 20px);
   bottom: 0;
}

// 屆期
#yearSelectForm {
   margin-bottom: 10px;
}

#case-year-select {
   width: 150px; //使刷新時,螢幕不會閃
}