#yearSelectForm {
   margin-bottom: 80px;
}

.owl-theme {

   .owl-nav,
   .owl-dots {
      position: absolute;
      right: 0;
      left: 0;
      top: -30px;
   }

   .owl-nav {
      top: -80px;
   }

   .owl-dots {
      top: -30px;
   }
}