.footer-flex {
	min-height: 200px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	@include media-breakpoint-down(sm) {
		flex-direction: column;
		padding-bottom: 20px;
	}

	.empty {
		@include media-breakpoint-down(md) {
			display: none;
		}
	}
}

.footer-container {
	margin-top: 70px;
	background-color: #f7f7f7;
	box-shadow: 0px -2px 5px #888888;

	address {
		font-size: 16px;

		a {
			color: black;
		}
	}

	.footer-logo {
		width: 100%;
		max-width: 500px;
		margin-top: 30px;
		margin-bottom: 30px;
	}
}

.footer-plugin {
	position: relative;
	width: 350px;
	height: 130px;

	.linear-gd {
		width: 350px;
		height: 130px;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: linear-gradient(#444444, transparent);
	}

	iframe {
		width: 200px;
		height: 20px;
	}

	.child {
		position: absolute;
	}

	.child-bg {
		top: 0;
		left: 0;
		margin: 7px;
	}

	.child-title {
		top: 3px;
		left: 65px;
		color: white;
	}
}

footer {
	background-color: black;
	color: white;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
}