.pagination-fixed {
  height: 34px;
  width: 100%;
  background-color: #fff;
  position: fixed;
  border-top: 2px solid #222d32;
}

.pagination-fixed nav {
  height: 34px;
}

.pagination-fixed .pagination {
  margin: 0;
}

.pagination-fixed .pagination > li:first-child > a,
.pagination-fixed .pagination li:last-child > a {
  border-radius: 0;
}

@media (min-width: 0px) {
  .pagination-fixed {
    bottom: 24px;
  }
}
