.flex {
   display: flex;
   flex-direction: row;
   justify-content: flex-start;

   &>div {
      margin-right: 10px;
   }

   .flex-add {
      flex-grow: 2;
   }

   .flex-search {
      margin-right: 0;

      input {
         width: 150px;
         height: 30px;
      }
   }

   .flex-select {
      select {
         width: 200px;
         height: 30px;
         margin-top: 2px;
         cursor: pointer;
         padding: 0 5px;
      }

      .input-group-btn button {
         margin-top: 2px;
         cursor: default;
         border: 1px solid transparent;

         &:hover,
         &:focus {
            background-color: #f4f4f4;
            border: 1px solid transparent;
         }
      }
   }
}

@media (max-width: 767px) {
   .flex {
      flex-direction: column;

      &>div {
         margin-right: 0;
      }

      .flex-add {
         flex-grow: 0;
      }

      .flex-search .box-tools.pull-right {
         width: 100%;
      }

      .flex-select {

         select {
            width: 100%;
         }
      }

   }
}