.flex {
   display: flex;
   flex-direction: row;
   justify-content: flex-start;

   &>div {
      margin-right: 10px;
   }

   .flex-add {
      flex-grow: 2;
   }

   .flex-search {
      margin-right: 0;

      input {
         width: 150px;
         height: 30px;
      }
   }

   .flex-select {
      select {
         width: 200px;
         height: 30px;
         margin-top: 2px;
         padding: 0 5px;
         cursor: pointer;
      }

      .input-group-btn button {
         margin-top: 2px;
         cursor: default;
         border: 1px solid transparent;

         &:hover,
         &:focus {
            background-color: #f4f4f4;
            border: 1px solid transparent;
         }
      }
   }
}

@media (max-width: 860px) {
   .flex {
      .flex-search {
         input {
            width: 130px;
         }
      }

      .flex-select {
         select {
            width: 130px;
         }
      }
   }
}

@media (max-width: 767px) {
   .flex {
      flex-direction: column;

      &>div {
         margin-right: 0;
      }

      .flex-add {
         flex-grow: 0;
      }

      .flex-search .box-tools.pull-right {
         width: 100%;
      }

      .flex-select {

         select {
            width: 100%;
         }
      }

   }
}

// safari
@media not all and (min-resolution:.001dpcm) {
   @supports (-webkit-appearance:none) and (stroke-color:transparent) {
      #billstatus-select {
         appearance: none;
         border-radius: 0px;
         background-image: url('../../../../assets/f_imgs/members/angle-down.png');
         background-repeat: no-repeat;
         background-position: 98% center;
         background-size: 12px;
      }
   }
}