body {
   // 這樣才不會有雙重滾動條,就是滾動一次頁面到底部或頂時部,只出現一條滾動條,但再滾動一次就出現雙重滾動條
   overflow: hidden;
}

// ios下input的placeholder不垂直居中顯示的問題
input::-webkit-input-placeholder {
   line-height: normal;
   // padding-top: 2px; // 微調
}

// 列表頁有搜尋欄時的input樣式
@media (max-width: 767px) {
   .pull-right.nav-list {
      width: 100% !important;
   }

   .box-tools {
      margin-top: 5px;
   }
}

.skin-blue .wrapper {
   background-color: transparent; //取消列表最底部的顏色使之滾動條顏色能夠清楚些

   .content-wrapper {
      height: 100vh !important; // 讓footer上方的白邊消失,或是說被這個高度壓下來

      // 長內容的add、edit部分
      .add-edit-scroll {
         margin-top: 104px;
         overflow-x: hidden;
         overflow-y: scroll;
      }

      // 短內容的add、edit部分
      .add-edit-noscroll {
         margin-top: 104px;
      }

      .box-scroll {
         border-top: none;
         border-radius: 0;
         overflow-x: scroll;
         overflow-y: hidden;
      }

      .box-body {
         border: none;
         border-radius: 0;
      }

      &.list-bottom-bg {
         background-color: #fff; //列表最後一筆資料距離底部的空白處底色
      }

      .thead-outside {
         overflow: hidden;

         &.thead-has-select {
            margin-top: 104px;
         }

         &.thead-has-input {
            margin-top: 104px;
         }

         &.thead-hasno-input {
            margin-top: 104px;
         }

         &.thead-carousel-input {
            margin-top: 104px;
         }

         // 列表頁title欄位
         .table {
            border: none;
            border-bottom: 3px solid #222d32;

            td {
               font-family: DFKai-sb;
               font-size: 18px;
               font-weight: bolder;
               padding: 3px;
               border: none;
               background-color: #fff;
               text-align: center;
            }
         }
      }

      .tbody-outside {
         overflow-x: hidden;
         overflow-y: scroll;

         .table {
            max-width: none; // 使safari不會出現黑邊
            box-shadow: 5px 0px 3px 3px gray;
            margin-bottom: 0;

            td {
               white-space: normal;
               text-align: center;
            }
         }
      }
   }
}

@media (max-width: 767px) {
   .skin-blue .wrapper {
      .content-wrapper {
         .add-edit-scroll {
            margin-top: 154px;
         }

         .add-edit-noscroll {
            margin-top: 154px;
         }

         .table-responsive {
            margin-bottom: 0;
         }

         .thead-outside {
            &.thead-has-select {
               margin-top: 218px;
            }

            &.thead-has-input {
               margin-top: 189px;
            }

            &.thead-hasno-input {
               margin-top: 155px;
            }

            &.thead-carousel-input {
               margin-top: 174px;
            }
         }
      }
   }
}

// table td的width,分爲3欄跟4欄,5欄的到該頁面去寫
@for $i from 1 through 4 {
   @if $i<3 {

      .thead-outside.item-3,
      .tbody-outside.item-3 {
         td:nth-child(#{$i}) {
            width: 48% / $i;
         }
      }
   }

   .thead-outside.item-4,
   .tbody-outside.item-4 {
      @if $i>1 {
         td:nth-child(#{$i}) {
            width: if($i==2, 20%, if($i==3, 10%, 20%));
         }
      }
   }
}

// loading
#loader {
   position: absolute;
   width: 100%;
   height: 100vh;
   background-color: rgba($color: #000000, $alpha: .5);
   z-index: 5;

   .loader {
      position: absolute;
      top: 40%;
      right: 40%;
      border: 16px solid #f3f3f3;
      border-radius: 48%;
      border-top: 16px solid #3498db;
      width: 120px;
      height: 120px;
      -webkit-animation: spin 1s linear infinite;
      //  Safari
      animation: spin 1s linear infinite;
   }
}

// Safari
@-webkit-keyframes spin {
   0% {
      -webkit-transform: rotate(0deg);
   }

   100% {
      -webkit-transform: rotate(360deg);
   }
}

@keyframes spin {
   0% {
      transform: rotate(0deg);
   }

   100% {
      transform: rotate(360deg);
   }
}

// 建立日期&時間
.form-control[readonly] {
   background-color: #fff;
}

.box {
   margin-bottom: 0;
}

.no-data {
   text-align: center;
   color: red;
   font-size: 30px;
   font-weight: bolder
}

// 顯示狀態的插件
#radioBtn,
#radioBtn a {
   z-index: 0;
}

#radioBtn .notActive {
   color: #3276b1;
   background-color: #fff;
}

// 各input之間上下間隙
.box-body>div {
   margin-bottom: 15px;
}

// 彈出訊息
.success-width {
   width: 150px;
}

.error-width {
   width: 250px;
}

// 彈出訊息位置
.alert-absoulte {
   text-align: center;
   position: absolute;
   margin: auto;
   left: 230px;
   right: 0;
   top: 50px;
   z-index: 9999;
}

// 後台其它設定樣式
.bg-color {
   border: 1px solid #D2D6DE;
   padding: 20px 10px 10px 10px;

   input {
      margin-bottom: 15px;
   }

   >p {
      font-weight: bold;
      font-size: 20px;
      color: #3C8DBC;
      background-color: white;
      position: absolute;
      top: -16px;
   }
}

.form-group {
   label.must:before {
      content: '*';
      color: red;
   }

   .cur {
      cursor: pointer;
   }
}

@media (max-width: 767px) {
   .alert-absoulte {
      left: 0;
      top: 100px;
   }
}