// 左方導航
aside.main-sidebar {
   font-size: 18px;
   font-weight: bolder;
   padding-top: 0;
   position: fixed;
   top: 50px;

   section.sidebar {
      height: 902px;
      overflow: scroll;

      ul.sidebar-menu {

         //  左方導航子選單ul樣式
         >li>.treeview-menu {
            background: #222d32;
         }

         .treeview-menu {
            //  讓左邊導航的下拉選單固定打開
            //  adminlte.js的lte.tree取消點擊事件
            display: block;

            //  左方導航子選單項目樣式
            a {
               font-weight: normal;
               font-size: 16px;
            }

            &>li {

               &.active,
               &:hover {
                  background-color: #2f4f4f;
               }

               &.active>a,
               &>a:hover {
                  color: #fff;
               }
            }

            li {
               padding-left: 30px;
            }
         }

         // 若有子項目則標題的游標變成這樣
         .treeview>a:not(.people) {
            cursor: text;
         }
      }
   }
}

// 上方導航
.main-header .navbar {
   height: 50px;

   // 右上角個人檔案的style
   .dropdown-menu li a.btn-warning {
      color: #fff;
      background-color: #f39c12;
      border-color: #e08e0b;
   }
}

// 上方功能導航欄
.function-on-top {
   height: 54px;
   margin-top: 50px;

   // 功能欄
   .form-group {
      margin-bottom: 0;
   }

   // 上方第二個nav
   .box-header {
      background-color: #222d32;
   }
}

@media (max-width: 767px) {
   .function-on-top {
      &.list-input {
         height: 89px;
      }
   }
}

// 最上方藍色大標bar
.header-fixex-top {
   width: 100%; // for firefox
   height: 50px;
   position: fixed;
   top: 0;
   z-index: 2;

   .hover-bg:hover {
      color: white !important;
      background-color: #3C8DBC !important;
      cursor: default;
   }
}

// firefox
// @-moz-document url-prefix() {}

// safari
@media not all and (min-resolution:.001dpcm) {
   @supports (-webkit-appearance:none) and (stroke-color:transparent) {
      .nav.navbar-nav {

         .user-menu {
            // 右上方的使用者名稱 & logo靠右
            float: right;
         }
      }
   }
}