table.table {
   thead>tr>th {
      text-align: center;
      font-size: 20px;
      background-color: #E0E0E0;
   }

   tbody>tr {

      th,
      td {
         line-height: normal;
         vertical-align: middle;
      }

      th {
         width: 200px;
      }

      textarea {
         resize: vertical;
         height: 150px;
      }
   }

   span.must {
      color: red;
   }

   .form-group {
      margin-bottom: 0;
   }
}

.selectize-input {
   margin-bottom: -8px;
}