.pagination-fixed {
   height: 34px;
   width: 100%;
   background-color: #fff;
   position: absolute;
   border-top: 2px solid #222d32;
   transition: left .4s;

   nav {
      height: 34px;
   }

   .pagination {
      margin: 0;

      >li:first-child>a,
      li:last-child>a {
         border-radius: 0;
      }
   }
}

.pagination-fixed {
   bottom: -34px;
}

// firefox
// @-moz-document url-prefix() {}

// safari
@media not all and (min-resolution:.001dpcm) {
   @supports (-webkit-appearance:none) and (stroke-color:transparent) {
      .pagination-fixed {
         transition: left .4s;
      }
   }
}