.pagination-bottom {
   height: 34px;
   width: 100%;
   background-color: #fff;
   border-top: 2px solid #222d32;

   nav {
      height: 34px;
   }

   .pagination {
      margin: 0;

      >li:first-child>a,
      li:last-child>a {
         border-radius: 0;
      }
   }
}

@media (max-width: 767px) {

   // 列表頁pagination & table width
   .pagination-bottom,
   .thead-outside,
   .tbody-outside {
      width: 767px;
   }
}

// firefox
// @-moz-document url-prefix() {}

// safari
// @media not all and (min-resolution:.001dpcm) {
// @supports (-webkit-appearance:none) and (stroke-color:transparent) {}
// }