#gotop {
   cursor: pointer;
   display: none;
   position: fixed;
   right: 30px;
   bottom: 70px;
   z-index: 3;
   font-size: 36px;
   // background-color: gray;
   // color: white;
   // font-weight: bolder;
   // padding: 0 15px;
   // border-radius: 33px;
   // background-image: url('../../f_imgs/angle-up.png');
   // background-repeat: no-repeat;

   @include media-breakpoint-down(xs) {
      // background-color: red;
      right: 5px;
      bottom: 150px;
   }
}